<div class="card m-auto mt-5" style="width: 18rem;">
  <div class="card-header">
    <h5 class="card-title pt-2">{{product.name}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Preço: R$ {{product.price}}</p>
    <p class="card-text">Estoque: {{product.stock}}</p>
    <a href="/product" class="card-link">Voltar</a>
  </div>
</div>