* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  margin: 0.5rem;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav1 main nav2"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0.5rem;
  height: 100vh;
  color: white;
}

.content > * { 
  border-radius: 15px;
}

header {
  grid-area: header;
  background-color: darkred;
  padding: 1rem;
}

.content > nav:nth-of-type(1) {
  grid-area: nav1;
  background-color: darkblue;
  padding: 1rem;
}

main {
  grid-area: main;
  background-color: darkgreen;
  padding: 1rem;
}

.content > nav:nth-of-type(2) {
  grid-area: nav2;
  background-color: yellowgreen;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: salmon;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .content {
    grid-template-areas:
      "header"
      "nav1"
      "main"      
      "nav2"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .content {
    grid-template-areas:
      "header header header header header"
      "nav1 main main main main"
      "nav1 main main main main"
      "nav2 nav2 nav2 nav2 nav2"
      "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
}
