header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: row;
  border-top: none;
}

header a {
  border-top: none;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

main > article {
  grid-column: span 3 ;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}